@mixin responsiveFlex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media(sm) {
        flex-direction: column;
    }

    @include media(md) {
        flex-direction: row;
    }
}