form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    .input{
        width: 360px;
        height: 35px;
        font-size: larger;
        letter-spacing: 1px;
        margin: 10px;
        @include media(maxXs){
            font-size: medium;
        }
    }
}